<div>
  <nav>
    <h2 routerLink="/">CITB App</h2>
    @if(isLoggedIn()){

    <div class="logged-in">
      <span *ngIf="isAdmin">
        <a
          routerLink="/register"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Register</a
        >
      </span>
      <span *ngIf="isAdmin">
        <a
          routerLink="/users"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >view all users</a
        >
      </span>
      <span>
        <a
          routerLink="/meetings/create"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Create Meeting</a
        >
      </span>
      <span>
        <a
          routerLink="/meetings"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >View Meetings</a
        >
      </span>
      <span>
        <a
          routerLink="/profile"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >View Profile</a
        >
      </span>
      <span>
        <a
          routerLink="/about"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >About</a
        >
      </span>
    </div>

    <div>
      <span>
        <a
          routerLink="/profile"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Welcome,
          {{ name }}
        </a>
      </span>
      <button (click)="logout()">
        <span> Logout </span>
      </button>
    </div>
    }@else{
    <div>
      <ul>
        <li>
          <a
            routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Login</a
          >
        </li>
      </ul>
    </div>
    }
  </nav>
  <hr />
</div>
