<div>
  <nav>
    <h2 routerLink="/">CITB App</h2>
    <ul>
      <li>
        <a
          routerLink="/create-meeting"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Create Meeting</a
        >
      </li>
      <li>
        <a
          routerLink="/login"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Login</a
        >
      </li>
      <li>
        <a
          routerLink="/register"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Registration</a
        >
      </li>
      <li>
        <a
          routerLink="/all-meetings"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >View Meetings</a
        >
      </li>
      <li>
        <a
          routerLink="/about"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >About</a
        >
      </li>
    </ul>
  </nav>
  <hr />
</div>
