<div>
  <div>
    <h2>{{ isEditMode ? "Update Portfolio" : "Create Portfolio" }}</h2>
  </div>

  <div>
    <form [formGroup]="portfolioForm" (ngSubmit)="onSubmit()">
      <label for="title">Title: </label>
      <input id="title" type="text" formControlName="title" />
      <p
        [hidden]="
          portfolioForm.get('title')?.valid ||
          portfolioForm.get('title')?.untouched
        "
      >
        title is required.
      </p>
      <br />
      <label for="description">Description: </label>
      <textarea
        id="description"
        formControlName="description"
        placeholder=""
      ></textarea>
      <p
        [hidden]="
          portfolioForm.get('description')?.valid ||
          portfolioForm.get('description')?.untouched
        "
      >
        description is required.
      </p>
      <br />
      <div>
        <label for="image">Choose images: </label>
        <input
          type="file"
          formControlName="images"
          (change)="onFileSelect($event)"
          multiple
          accept="image/*"
        />
        <br />
        @if(files.length>5){
        <p>You can upload a maximum of 5 images.</p>
        }

        <div *ngIf="files.length > 1">
          <p>Uploaded Images:</p>
          <ul>
            <li *ngFor="let file of files; let i = index">
              {{ file.name }}

              <button type="button" (click)="removeFile(i)">Remove</button>
            </li>
          </ul>
        </div>
        @if(isEditMode===true){
        <ul>
          <li *ngFor="let file of files; let i = index">
            <a [href]="file" target="_blank">
              <img
                [src]="file"
                alt="Portfolio Thumbnail"
                class="portfolio-thumbnail"
              />
            </a>

            <button type="button" (click)="removeFile(i)">Remove</button>
          </li>
        </ul>
        }
      </div>
      <button
        type="submit"
        [disabled]="!portfolioForm.valid || files.length > 5"
      >
        {{ isEditMode ? "Update Portfolio" : "Create Portfolio" }}
      </button>

      <button [disabled]="portfolioForm.pristine" (click)="onReset()">
        Reset
      </button>
    </form>
  </div>
</div>
